.banner__container{
    height: 550px;
    width: 100%;
    position: relative;
}
.banner__wrapper{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    max-width: 1000px;
}
.banner__subTitle{
    font-size: var(--fs-3);
    color: var(--c-white);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 40px;
}
.banner__mainTitle{
    font-size: var(--fs-10);
    color: var(--c-white);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 40px;
}
.banner__desc{
    font-size: var(--fs-3);
    color: var(--c-white);
    line-height: 1.8em;
    margin-bottom: 40px;
}
