.card__wrapper{
    border-radius: 0 !important;
    box-shadow: none !important;
}
.card__wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__image {
  border-radius: 50%;
  max-width: 200px;
  border: solid 1px var(--c-text);
}
.card__content{
    text-align: center;
}
.card__content__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
