.headerBlock__title {
  font-size: var(--fs-10);
  margin: 0 0 30px 0;
  color: var(--c-gray);
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.listMovie {
  height: auto;
  width: 100%;
  max-width: 1300px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 460px 460px;
  display: grid;
  place-items: center;
  margin: 40px 0;
  align-self: center;
  row-gap: 20px;
}
.loadMore {
  width: 200px;
  height: 200px;
  background: palegreen;
  align-self: center;
}
